@font-face{
    font-family: "Comfortaa";
    src: url("./Comfortaa-Bold.ttf");
}

*{
    user-select: none;
}

:root{
    --font-size: 9vw;
    --tools-size: 3.5vw;
    
    --text-color: #000000;
    --accent-color: #6200c8;
    --grid-color: #000000;
    --text-alt-color: #FFFFFF;
}

body{
    font-family: "Comfortaa", sans-serif;
    color: var(--text-color);
    padding: 1vw;
    margin: 0;
}

.buttonbar{
    display: inline-grid;
    grid-auto-flow: row;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
}
.buttonbar span{
    font-size: var(--font-size);
    line-height: var(--font-size);
    text-align: center;
    padding: 0;
    border-radius: calc(var(--font-size) * 0.4);
}

.buttonbar .inactive{
    filter: opacity(0.5);
}

.pencil.inactive{
    filter: none;
}

.pencil.active{
    background-color: var(--accent-color);
    color: var(--text-alt-color);
}
.pencil.active img{
    filter: invert(100%);
}

.keypad{
    grid-template-columns: repeat(10, 1fr);
}

.tools{
    grid-template-columns: repeat(5, 1fr);
}

.tools span{
    font-size: var(--tools-size);
    line-height: var(--tools-size);
    padding: calc(var(--tools-size) / 5); /* ↑/5*/
}

.tools img{
    display: block;
    margin: auto;
    width: var(--font-size);
}
